In [1]:
#1.Find the error in the following Python code:
import math
print(math.sqrt(16))

4.0

In [ ]:
#2.Find the error in the following Python code:
def my_function():
    x = 5
    print(x)

x = 1
my_function()

5

In [7]:
#3.x = 5
if x := 10:
    print("x is 10")

x is 10

In [13]:
#4.
numbers = [1, 3, 8, 2]
numbers.sort()
print(numbers)

[1, 2, 3, 8]

In [15]:
#5.
def square(n):
    return n * n

print(square(4))

16

In [17]:
#6.
my_tuple = (1, 2, 3)
my_tuple_list = list(my_tuple)
my_tuple_list[1] = 5
print(my_tuple_list)

[1, 5, 3]

In [32]:
#7.
name = "Alice"
age = 25
print("My name is %s and I am %s years old" % (name, age))

My name is Alice and I am 25 years old

In [41]:
#8.
a = [1, 2, 3]
b = [1, 2, 3]
if a == b:
    print("Lists are equal")

Lists are equal

In [43]:
#9.
for i in range(5, 1, -1):
    print(i)

5
4
3
2

In [45]:
#10.
student = {"name": "John", "age": 20}
key="name"
print(student[key])

John